<h1>{{ title }}</h1> 
<table>
    <tr>
        <td>Date</td>
        <td>Leg_number</td>
        <td>seat_number</td>
        <td>User_User_id</td>
    </tr>
    {{#each seat}} 
    <tr>
        <td>{{Date}}</td> 
        <td>{{Leg_number}}</td>
        <td>{{Seat_number}}</td>
        <td>{{User_User_id}}</td>
    </tr>
    {{/each}}
</table>

